
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}


header {
    text-align: center;
    background-color: #9b0a0a;
    padding: 20px;
    color: white;
}

.photo-profil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid white;
    margin-bottom: 10px;
}


section {
    margin: 20px auto;
    max-width: 800px;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #2067d1;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea, button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #2067d1;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}


@media (max-width: 768px) {
    section {
        max-width: 95%;
    }

    h1 {
        font-size: 1.8em;
    }
}